/*----------------------------------------------------------ACCUEIL--------------------------------------------------------*/
.imgarticle {
    width: 10rem;
    height: 10rem;
    max-width: 10rem;
    max-height: 10rem;
  }
  
  #titre-article {
    min-height: 3rem;
  }

  .boxcomp{
    display: inline-block;
    min-height: 20rem;
    width: 20rem;
    margin: auto;
    /*margin-top: 5vh;*/
    /*margin-bottom: 10vh;*/
    padding: 1rem;
    box-shadow: 0px 0px 15px #4a4949/*, -5px -5px 10px #464646*/;
  }

  .modifsupp {
    display: inline-block;
  }

  .lien {
    text-decoration: none;
  }

  .rouge {
    color: red;
  }

  /*----------------------------------------------------------PAGE ADD ARTICLE----------------------------------------------------*/

  .formulaire {
    width: 70%;
  }

  /*----------------------------------------------------------PAGE UPDATE ARTICLE----------------------------------------------------*/

  #formupdate {
    height: 30rem !important;
  }

/*----------------------------------------------------------PAGE TYPE PERSO----------------------------------------------------*/

.btn-type {
  display: inline-block;
  margin-top: 10vh;
}

.btns-box {
  display: inline-block;
}

/*----------------------------------------------------------PAGE PERSONNAGE----------------------------------------------------*/

#personnages {
  margin-top: 7vh;
  padding-left: 10%;
  padding-right: 10%;
}

.ligneperso {
  height: auto;
}

.boitetueur {
  height: 15rem;
  width: 20rem;
  margin: auto;
}

.imgperso {
  height: 10rem;
  width: 15rem;
}