@font-face {
  font-family: 'Another-Danger';
  src: url('police/another-danger.ttf');
}

@font-face {
  font-family: 'Friday13v12';
  src: url('police/Friday13v12.ttf');
}

body {
    width: 100%;
    height: 100%;
}

main {
  width: 100%;
  min-height: 80vh !important;
}

/*--------------------------------------------------BANNIERE---------------------------------------------*/

header {
    padding: 0 !important;
}

#banniere {
    width: 100%;
    max-height: 40vh;
}

#listnav {
    margin: auto !important;
}

@media screen and (max-height: 345px) {
    #banniere {
      display: none;
    }
}

@media screen and (min-width: 800px) {
    #banniere {
        min-height: 15rem;
    }
}

/*-----------------------------------------------------FOOTER-------------------------------------------------------*/

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

/*----------------------------------------------------------PAGE ROLE-----------------------------------------------------*/

#boiterole{
  margin-top: 30vh;
}

.role {
  cursor: pointer;
  /*border-color: #424445 !important;SUPPRIMER LE BOOTSRAP ET LE REFAIRE*/
  width: 25%;
  min-height: 15rem;
  transition: transform .2s; /* Animation */
  box-shadow: 5px 5px 10px #202020, -5px -5px 10px #464646;
}

#boxtueur{
  background-color: #ae2012;
}

#boxsurvivant{
  background-color: #4361ee;
}

.role:hover {
  transform: scale(1.2);
  /*background-color: #212426;*/
}

@media screen and (max-width: 768px) {
  .role {
      width: 50%;
  }
}

.titrerole {
  font-family: 'Another-Danger' !important;
  color: #fff !important;
}

.imgrole {
  width: 50%;
}

/*-------------------------------------------------------PAGE PERSONNAGE----------------------------------------------------*/

#personnages {
  margin-top: 7vh;
  padding-left: 7em;
  padding-right: 7em;
}

.ligneperso {
  height: auto;
}

.boitetueur {
  height: 15rem;
  width: 15rem;
  margin: 1em;
  padding: 0.5em;
  transition: transform .2s; /* Animation */
  box-shadow: 5px 5px 10px #202020, -5px -5px 10px #464646;
}

.boitetueur:hover {
  transform: scale(1.2);
  background-color: #212426;
}

.imgperso {
  height: 10rem;
  width: 14.8rem;
  margin-top: 1.5em;
}

#nomperso {
  font-family: 'Another-Danger' !important;
  color: #fff !important;
}

/*-------------------------------------------------------PAGE PERSONNAGE2----------------------------------------------------*/

#InfoChar{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.boxchar{
  min-height: 20rem;
}

#boximgchar{
  background-color: #212426;
}

#imgchar{
  margin-top: 5rem;
  width: 22rem;
  height: 15rem;
}

#presentchar{
  background-color: #212426;
  min-height: 20rem;
}

.opacite{
  opacity: 50%;
}

.boxcomp{
  display: inline-block;
  min-height: 30rem;
  width: 20rem;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 10vh;
  padding: 1rem;
  box-shadow: 5px 5px 10px #202020, -5px -5px 10px #464646;
}

.boxcomp:hover {
  transform: scale(1.1);
  background-color: #212426;
}

.imgcompt{
  width: 10rem;
  height: 10rem;
}

.police{
  font-family: 'Another-Danger' !important;
}

.police2{
  font-family: 'Friday13v12' !important;
}

/*---------------------------------------------------PAGE CONNEXION-------------------------------------------------*/

#formconnexion {
  width: 50%;
}

.formulaire {
  margin-top: 10vh;
}

/*---------------------------------------------------PAGE INSCRIPTION-------------------------------------------------*/

#forminscription {
  width: 50%;
}